* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #fff;
  color: white;
  min-height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px;
}
